#filterViewWrapper {
    width: 95%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#filterSelector {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 70px;
}

#filterSelector button {
    height: 30px;
    margin: 5px;
    border-radius: 50px;
    padding: 2px;
    border: none;
    box-shadow: 2px 2px #ddd;
}


#unselectedFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.unselectedFilter {
    background-color: #314E52;
    width: 60px;
}

.selectedFilter {
    background-color: #F2A154;
    width: 100px;
}

.unselectedFilter:hover {
    background-color: #F2A154;
}

button p {
    color: white;
    text-align: center;
    vertical-align: center;
    margin-left: 0;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}