#modalContainer {
    height: 100%;
    width: 50%;
    position: fixed;
}

#modalContentContainer {
    background-color: white;
    height: 400px;
    width: 70%;
    position: relative;
    top: 100px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    opacity: 1;
    justify-content: center;
    padding: 2%;
    z-index: 10;
    box-shadow: 3px 3px #ddd;
}

#modalToolsContainer {
    display: flex;
    flex-direction: row;
}

#modalInfoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    align-self: center;
    border-bottom: 1px solid #eee;
    margin: 10px;
    padding: 5px;
}