.tabView ul > li.active > a,
.tabView ul > li.active > a:hover
.tabView ul > li.active > a:focus {
    background-color: red;
    color: white;
}

.tabView {
    border-bottom: 1px solid #314E52;
}

.tabContent {

    margin-top: 20px;
}