.tileContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin: 15px;
    width: 180px;
    background-color: #fefefe;
    padding-left: 20px;
    border-radius: 50px;
}

p {
    margin-left: 10px;
    font-weight: 100;
}

.tileHeaderContainer i {
    border-radius: 50px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* .tileHeaderContainer {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
} */
