body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 1em;
    color: #1e1e1e;
    background-color: #F9F5ED;
}

h1 {
    margin-bottom: 0;
}

nav {
    border-bottom: 1px solid #1E1E1E;
    padding: 1em 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav li {
    margin: 0 1.5em;
}

nav a {
    color: #1e1e1e;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    opacity: 0.7;
}

main {
    padding: 2em;
}

pre {
    background: #1e1e1e;
    color: #dcdcdc;
    padding: 1em;
    overflow-x: auto;
    border-radius: 5px;
}

.big_button {
    width: 100%;
    background-color: transparent;
    font-family: Arial, sans-serif;
    border: none;
    font-weight: bold;
    padding: 1em;
}

.big_button:hover {
    opacity: 0.2;
    cursor: pointer;
}

.container {
    display: flex;
    gap: 1rem;
    padding: 1rem;
    /* spacing between divs */
}

.box {
    flex: 1;
    text-align: center;
    /* each takes equal width */
}

.left ul {
    list-style: none;
    width: 100%;
}

.left li {
    text-decoration: none;
    width: 100%;
    padding-bottom: 10px;
    padding-right: 1px;
}

.left {
    flex: 1;
    padding: 1rem;
    border-right: 1px solid #ddd;
}

.left button {
    text-align: left;
    text-decoration: none;
    width: 100%;
    color: #1E1E1E;
    background-color: transparent;
    border: none;
}

button::first-letter {
    text-transform: capitalize;
}

.left button:hover {
    padding-left: 10px;
    cursor: pointer;
}

.right {
    flex: 3;
    padding: 1rem;
}

.center_container {
    display: flex;
    gap: 1rem;
    height: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.left_box {
    text-align: left;
    padding: 1rem;
}