.siteImg {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.tileImg {
    width: 50px;
}

.toolImg {
    width: 25px;
}

#imgContent {
    height: 100%;
    width: 50%;
    display: inline-block;
}