.siteImg {
    width: 50%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    top: 0;
}

.tileImg {
    width: 50px;
}

.toolImg {
    width: 25px;
}

#imgContent {
    height: 100%;
    width: 50%;
    display: inline-block;
}