#navbarContainer {
    position: fixed;
    top: 0;
    height: 100px;
    right: 0;
    width: 48%;
    padding: 1%;
    /* border-radius: 50px; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
    border-bottom: 1px solid #F7F6E7;
    background-color: white;
}

.navbarItem:hover {
    cursor: pointer;
    opacity: 0.6;
}
